@import '../../vars';

.btn-wrapper {
    // width: 100%;
    button {
        height: 40px;
        width: 35%;
        border-radius: 12px;
        border: 2px solid gray;
        &:hover {
            cursor: pointer;
            scale: 50%;
            border-color: darken($color: gray, $amount: 50%);
            transition: .5s;
        }
    }
}

.submit {
    @include submit-colors;
}

.cancel {
    @include cancel-colors;
}

.accept {
    @include accept-colors;
}
